body {
    font-size: 0.9rem;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

.content-wrapper {
    background: white;
}

[class*=sidebar-dark-] {
    background-color: royalblue;
}

[class*=sidebar-dark-] .sidebar a {
    color: white;
}

#input-form-visa {
    -webkit-box-shadow: 0px 1px 20px -5px rgba(97,97,97,0.85);
-moz-box-shadow: 0px 1px 20px -5px rgba(97,97,97,0.85);
box-shadow: 0px 1px 11px -5px rgba(97,97,97,0.85);
border-radius: 10px;
padding: 10px;
}

#list-visa {
    -webkit-box-shadow: 0px 1px 20px -5px rgba(97,97,97,0.85);
-moz-box-shadow: 0px 1px 20px -5px rgba(97,97,97,0.85);
box-shadow: 0px 1px 11px -5px rgba(97,97,97,0.85);
border-radius: 10px;
padding: 10px;
}


.form-grid-container {
    width: 100%;
}

.button-submit-container {
    width: 100%;
    text-align: right;
}

.btn-submit-visa {
    width: 30%;
}
.visa-dropdown {
    border-color: #6c757d;
    box-shadow: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.main-sidebar, .main-sidebar::before {
    width: 230px;
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
        transition: margin-left .3s ease-in-out;
        margin-left: 230px;
    }
}

@media (min-width: 992px){
    .sidebar-mini .nav-sidebar, .sidebar-mini .nav-sidebar .nav-link, .sidebar-mini .nav-sidebar>.nav-header {
        white-space: unset;
        overflow: hidden;
    }
}

.button-see-more a{
    color: white!important;   
}
.button-aksi-container{
    display: flex;
}
.btn-aksi {
    padding: 2px 6px!important;
    margin-right: 5px;
    font-size: 13px;
}

.switch {
    position: relative;
    display: flex;
    margin-left: 10px;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media (min-width: 576px){
    .form-inline .custom-select, .form-inline .input-group {
        width: 100%!important;
    }
  }

  .input-group-append {
    background-color: royalblue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .input-group-append input{
  background-color: royalblue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  border: royalblue;
  }
  .input-group-append i{
    color: white;
}

.inner-flex {
    display: flex;
}

.text-danger {
    color: #a94442;
  }
a.text-danger:hover,
a.text-danger:focus {
color: #843534;
}

.alert-dismissible .close, .alert-dismissible .mailbox-attachment-close {
    right: 5px;
    padding: 5px;
}

.alert-success, .alert-danger {
    display: block;
    padding: 5px;
}

.btn-filter{
    height: 32px;
    padding: 0px;
    margin-left: 10px;
    background-color: #ffc107;
    padding-left: 10px;
    padding-right: 10px;
}

.button-get-content {
    border:none;width: 100%;color: rgba(255,255,255,1);background: rgba(0,0,0,.1);display: block;padding: 3px 0;position: relative;text-align: center;text-decoration: none;z-index: 10;
}

.export-button{
    background-color: royalblue;
    margin: 10px;
    color: white;
    height: 35px;
    justify-content: center;
    text-align: center;
    padding: .155rem .75rem;

}